<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="unitsMaterialMsg" value="Please enter units of material you want to sell : " />
    <add key="repeatUnitsMaterialMsg" value="Please enter valid units of material : " />
    <add key="buyersFilePath" value="data\file.csv" />
    <add key="csvFileSeprator" value=";" />
    <add key="tableHeader1" value="Comany" />
    <add key="tableHeader2" value="Amount" />
    <add key="matRemainMsg" value="Material remained : " />
    <add key="skipMsg" value="is skipped due to either amount or quantity is negative" />
  </appSettings>
</configuration>